In [83]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
from pylab import rcParams
%pylab inline
rcParams['figure.figsize'] = 12, 6
from datetime import datetime
import re

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['f', 'datetime']
`%matplotlib` prevents importing * from pylab and numpy

In [84]:
tr = pd.read_csv('input/train.csv')
tr['Id'] = -1
tr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 10 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null object
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
Id               1017209 non-null int64
dtypes: int64(8), object(2)
memory usage: 85.4+ MB

In [85]:
te = pd.read_csv('input/test.csv')
te['Sales'] = -1
te['Customers'] = -1
te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 10 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null object
Open             41077 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null int64
Sales            41088 non-null int64
Customers        41088 non-null int64
dtypes: float64(1), int64(7), object(2)
memory usage: 3.4+ MB

In [86]:
s = pd.read_csv('input/store.csv')
s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1115 entries, 0 to 1114
Data columns (total 10 columns):
Store                        1115 non-null int64
StoreType                    1115 non-null object
Assortment                   1115 non-null object
CompetitionDistance          1112 non-null float64
CompetitionOpenSinceMonth    761 non-null float64
CompetitionOpenSinceYear     761 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              571 non-null float64
Promo2SinceYear              571 non-null float64
PromoInterval                571 non-null object
dtypes: float64(5), int64(2), object(3)
memory usage: 95.8+ KB

In [87]:
d = pd.concat([tr, te])

In [88]:
f = pd.merge(d, s, on='Store', how='left')

In [89]:
f[:5]

,Customers,Date,DayOfWeek,Id,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,555,2015-07-31,5,-1,1,1,5263,1,0,1,c,a,1270,9,2008,0,NaN,NaN,NaN
1,625,2015-07-31,5,-1,1,1,6064,1,0,2,a,a,570,11,2007,1,13,2010,"Jan,Apr,Jul,Oct"
2,821,2015-07-31,5,-1,1,1,8314,1,0,3,a,a,14130,12,2006,1,14,2011,"Jan,Apr,Jul,Oct"
3,1498,2015-07-31,5,-1,1,1,13995,1,0,4,c,c,620,9,2009,0,NaN,NaN,NaN
4,559,2015-07-31,5,-1,1,1,4822,1,0,5,a,a,29910,4,2015,0,NaN,NaN,NaN

In [90]:
def parse_year(d):
    return int(re.match(r'(\d+)-(\d+)-(\d+)', d).groups()[0])
def parse_month(d):
    return int(re.match(r'(\d+)-(\d+)-(\d+)', d).groups()[1])
def parse_day(d):
    return int(re.match(r'(\d+)-(\d+)-(\d+)', d).groups()[2])

In [91]:
f['DateYear'] = f.Date.apply(lambda d: parse_year(d))
f['DateMonth'] = f.Date.apply(lambda d: parse_month(d))
f['DateDay'] = f.Date.apply(lambda d: parse_day(d))

In [92]:
def month_in_interval(m, i):
    if i is not None and i != nan and (type(i) == str and (m in i)):
        return 1
    return 0

In [93]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
for m in months:
    f['PromoInterval_' + m] = f.PromoInterval.apply(lambda i: month_in_interval(m, i))
f[:5].T

,0,1,2,3,4
Customers,555,625,821,1498,559
Date,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31
DayOfWeek,5,5,5,5,5
Id,-1,-1,-1,-1,-1
Open,1,1,1,1,1
Promo,1,1,1,1,1
Sales,5263,6064,8314,13995,4822
SchoolHoliday,1,1,1,1,1
StateHoliday,0,0,0,0,0
Store,1,2,3,4,5
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,NaN
DateYear,2015,2015,2015,2015,2015
DateMonth,7,7,7,7,7
DateDay,31,31,31,31,31
PromoInterval_Jan,0,1,1,0,0
PromoInterval_Feb,0,0,0,0,0
PromoInterval_Mar,0,0,0,0,0
PromoInterval_Apr,0,1,1,0,0
PromoInterval_May,0,0,0,0,0
PromoInterval_Jun,0,0,0,0,0
PromoInterval_Jul,0,1,1,0,0
PromoInterval_Aug,0,0,0,0,0
PromoInterval_Sep,0,0,0,0,0
PromoInterval_Oct,0,1,1,0,0
PromoInterval_Nov,0,0,0,0,0
PromoInterval_Dec,0,0,0,0,0

In [94]:
f.to_csv('tmp/engineered_features.csv', index=False)